.transition-container{
    height: 17.8;
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
}

.transition-parent{
    width: 100%;
    height: 100%;
    max-width: 1920px;
}

.transition-parent img{
    max-width: 100%;
    height: 100%;
    transform: scaleY(-1);
}

@media only screen and (max-width){
    .transition-parent{
        display: flex;
        align-items: flex-end;
    }
}